/* Global reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    list-style: none;
    text-decoration: none;
}

/* Center container with max width and side spacing */
.container {
    max-width: 1152px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

@media(max-width:620px) {
    .container {
        width: calc(100% - 10px);
    }
}

/* Global Variable Classes  */
button,
i,
a {
    cursor: pointer;
}

.lancer-home-page-tagline {
    background-color: #d9f99d;
    border-radius: 20px;
    display: flex;
    text-align: center;
    max-width: fit-content;
    padding: 6px 12px;
    align-items: center;
    text-align: center;
    gap: 8px;

    .content-title {
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
    }

    svg {
        width: 14px;
    }
}

@media(max-width:768px) {
    .lancer-home-page-tagline {
        font-size: 10px;
    }
}

.lancer-home-page-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #d1d5dc;
    text-align: center;
}