/* @media(max-width:1070px) {

} */
@media(max-width:1220px) {
    .performance-section {
        .container {
            .performance-container {
                .performance-stat-cards {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }

    /* ########### */
    /* ########### */
    /* ########### */
    .lancer-conversion-section {
        .container {
            .lancer-cost-container {
                padding: 70px 28px;
                width: 90%;
                margin-left: 0;
                margin: 0 auto;

                .comparison-containers {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }

    .promo-section {
        & .container {
            & .promo-container {
                & .promo-header {
                    .promo-section-heading {
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media(max-width:1070px) {
    .lancer-app-header-section {
        .container {
            width: calc(100% - 0px);

            .lancer-app-header-container {
                height: 62px;
                padding-inline: 5%;
                border: none;
                transition: all .3s ease;
                border-radius: 0;
                width: 100%;

                &.header-floating {
                    width: 100%;
                    border: none;

                    .nav-login-btn {
                        .demo-btn {
                            transition: all .3s ease;

                            span {
                                width: 100%;
                            }
                        }
                    }
                }

                .lancer-header-logo-image {
                    svg {
                        width: 34px;
                        height: 34px;
                    }
                }

                .lancer-header-navbar {
                    position: fixed;
                    align-items: center;
                    top: 57px;
                    max-width: 300px;
                    width: 100%;
                    height: 600px;
                    left: 0;
                    right: 0;
                    flex-direction: column;
                    margin-left: 0;
                    gap: 30px;
                    transform: translateY(-900px);
                    transition: all .3s ease;
                    background-color: #ffffffbe;
                    box-shadow: 1px 3px 10px 1px rgba(128, 128, 128, 0.596);

                    .header-navbar-list {
                        padding-top: 40px;
                        position: static;
                        flex-direction: column;
                        text-align: center;
                    }

                    .nav-login-btn {
                        margin-left: 0;
                        flex-direction: column;
                    }
                }

                .toggle-btn {
                    display: block;
                    color: black;
                    position: absolute;
                    top: 20px;
                    right: 5%;

                    &.nav-close-icon {
                        display: none;
                    }

                    i {
                        transition: all .3s ease;

                        &:hover {
                            color: black;
                        }
                    }
                }

                &.lancer-app-header-container:has(input:checked) .lancer-header-navbar {
                    transform: translateX(0);
                }

                &.lancer-app-header-container:has(input:checked) .burger-icon {
                    display: none;
                }

                &.lancer-app-header-container:has(input:checked) .nav-close-icon {
                    display: block;
                }
            }
        }
    }

    /* ###################  */
    /* ###################  */
    /* ###################  */
    /* ###################  */
    .lancer-hero-section {
        .container {
            .lancer-hero-container {
                .hero-container-content-wrapper {
                    .hero-sub-heading {
                        text-align: center;
                        width: 90%;
                    }

                    .hero-container-head {
                        max-width: 80%;
                    }
                }
            }
        }
    }

    /* ##################  */
    /* ##################  */
    /* ##################  */
    /* ##################  */
    /* ##################  */
    .lancer-testimonial-section {
        & .container {
            & .lancer-testimonial-container {
                .testimonial-badge-head {
                    .testimonial-head {
                        text-align: center;
                        width: 100%;
                    }
                }

                .testimonial-title {
                    text-align: center;
                }

                & .testimonial-card {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;

                    & .testimonial-card-image {
                        img {
                            aspect-ratio: 1/1;
                        }
                    }

                    .testimonial-card-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    /* ##################  */
    /* ##################  */
    /* ##################  */
    /* ##################  */
    .lancer-features-section {
        .container {
            .lancer-features-container {
                .features-containers {
                    .features-container {
                        flex-direction: column;

                        .features-content-wrapper {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ---------------------------------
------- Media Querry 992px-----------
---------------------------------- */
@media(max-width:992px) {
    .lancer-hero-section {
        .container {
            .lancer-hero-container {
                .hero-container-content-wrapper {
                    .hero-container-head {
                        font-size: 60px;
                        line-height: 71px;
                    }
                }
            }
        }
    }

    .achievement-section {
        padding: 100px 0;

        .container {
            .achievement-container {
                h2 {
                    font-size: 140px;
                    line-height: 150px;
                }

                .achievement-desc {
                    font-size: 26px;
                    line-height: 34px;
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media(max-width:768px) {
    .lancer-hero-section {
        padding-top: 100px;

        .container {
            .lancer-hero-container {
                gap: 50px;

                .hero-container-content-wrapper {
                    gap: 20px;

                    .hero-container-head {
                        font-size: 50px;
                        line-height: 61px;
                    }

                    .hero-cta-container {
                        flex-direction: column;
                        gap: 22px;
                    }
                }
            }
        }
    }

    .lancer-testimonial-section {
        padding: 64px 0;

        & .container {
            & .lancer-testimonial-container {
                gap: 14px;

                .testimonial-badge-head {
                    text-align: center;

                    .testimonial-head {
                        font-size: 22px;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .performance-section {
        .container {
            .performance-container {
                .performance-head {
                    font-size: 28px;
                    line-height: 34px;
                }

                .performance-stat-cards {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    .lancer-conversion-section {
        margin: 60px 0;

        .container {
            .lancer-cost-container {
                padding: 80px 10px;

                .conversion-head {
                    font-size: 28px;
                    line-height: 34px;
                }

                .comparison-containers {
                    margin-top: 30px;

                    .comparison-container {
                        padding: 18px;

                        .comperison-heading-wrapper {
                            .comperison-header {
                                .comperison-title {
                                    padding-top: 10px;
                                    max-width: 114%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .promo-section {
        .container {
            .promo-container {
                .promo-header {
                    .promo-section-heading {
                        font-size: 42px;
                        line-height: 50px;
                        text-align: center;
                    }

                    .promo-section-desc {
                        font-size: 15px;
                        max-width: 100%;
                        line-height: 26px;
                    }
                }

                .promo-card-container {
                    flex-direction: column;

                    .card-lancer-offer-container {
                        max-width: 100%;
                    }

                    /* Card Features Container  */
                    .card-features-container {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .lancer-faq-section {
        .container {
            .lancer-faq-container {
                .faq-section-heading {}

                .faq-desc {}

                .faq-main-container {
                    .faq-container-list {
                        .faq-question {
                            gap: 16px;
                            font-size: 14px;
                            line-height: 20px;
                        }

                        .faq-answer-wrapper {}

                        .faq-answer-content {}

                        .faq-question .icon {}
                    }
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media(max-width:620px) {
    .lancer-testimonial-section {
        & .container {
            & .lancer-testimonial-container {
                .testimonial-badge-head {
                    text-align: center;
                }

                & .testimonial-card {
                    padding: 58px 34px;
                }
            }
        }
    }

    .achievement-section {
        padding: 30px 0;

        .container {
            .achievement-container {
                h2 {
                    font-size: 110px;
                    line-height: 120px;
                }

                .achievement-desc {
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media(max-width:576px) {
    .lancer-hero-section {
        .container {
            .lancer-hero-container {
                .hero-container-content-wrapper {
                    .hero-container-head {
                        font-size: 40px;
                        line-height: 50px;
                    }

                    .hero-sub-heading {
                        margin-top: 0;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .hero-cta-container {
                        width: 100%;
                        margin: 0 auto;

                        .hero-cta-group {
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            width: 100%;

                            input {
                                padding: 14px 16px;

                                &::placeholder {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .lancer-testimonial-section {
        & .container {
            width: calc(100% - 30px);

            & .lancer-testimonial-container {
                .testimonial-titl & .testimonial-card {
                    padding: 22px;

                    .testimonial-card-image {
                        img {
                            aspect-ratio: 1/1.4;
                        }
                    }
                }
            }
        }
    }

    .performance-section {
        .container {
            .performance-container {
                .performance-head {
                    font-size: 20px;
                    line-height: 28px;
                }

                .lancer-home-page-title {
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }
    }

    .lancer-features-section {
        .container {
            .lancer-features-container {
                .features-head {
                    padding-top: 10px;
                    font-size: 26px;
                    line-height: 32px;
                }

                .features-containers {
                    padding-top: 30px;

                    .features-container {
                        padding: 26px 22px;

                        .features-content-wrapper {
                            gap: 20px;
                            max-width: 100%;

                            .feature-heading {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .promo-section {
        & .container {
            & .promo-container {
                & .promo-header {
                    .promo-section-heading {
                        font-size: 36px;
                        line-height: 42px;
                    }
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media(max-width:420px) {
    .lancer-hero-section {
        .container {
            .lancer-hero-container {
                .hero-container-content-wrapper {
                    gap: 16px;

                    .hero-container-head {
                        font-size: 34px;
                        line-height: 41px;
                    }

                    .hero-sub-heading {
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .hero-cta-container {
                        .hero-cta-group {
                            input {
                                padding: 14px 16px;

                                &::placeholder {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .content-tagline {
                        padding: 0px 8px;

                        .content-title {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    /* ###############################  */
    /* ###############################  */
    .lancer-testimonial-section {
        & .container {
            & .lancer-testimonial-container {
                gap: 6px;

                .testimonial-badge-head {
                    .testimonial-head {
                        font-size: 18px;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    text-align: center;
                }

                .lancer-home-page-title {
                    font-size: 12px;
                    line-height: 16px;
                }

                & .testimonial-card {
                    gap: 10px;
                    padding: 32px 26px;

                    .testimonial-card-content {
                        .profile-desc {
                            font-size: 16px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
    }

    /* ###############################  */
    /* ###############################  */
    .performance-section {
        .container {
            .performance-container {
                .performance-head {
                    font-size: 20px;
                    max-width: 80%;
                }

                .lancer-home-page-title {
                    font-size: 16px;
                    line-height: 23px;
                }

                .performance-stat-cards {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    .lancer-conversion-section {
        margin: 30px 0;

        .container {
            .lancer-cost-container {
                .conversion-head {
                    font-size: 22px;
                    line-height: 29px;
                }

                .lancer-home-page-title {
                    font-size: 16px;
                    line-height: 22px;
                }

                .comparison-containers {
                    margin-top: 20px;

                    .comparison-container {
                        padding: 10px;

                        .lancer-comperison-list {
                            gap: 10px;

                            .comperison-item {
                                font-size: 13px;
                                line-height: 18px;
                                gap: 6px;
                            }
                        }

                        .meeting-rate {
                            padding-top: 18px;

                            span {
                                font-size: 24px;
                                line-height: 28px;
                            }
                        }
                    }
                }

                .versus-title {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }

    .lancer-features-section {
        .container {
            .lancer-features-container {
                .features-head {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }

    .promo-section {
        & .container {
            & .promo-container {
                & .promo-header {
                    .promo-section-heading {
                        font-size: 30px;
                        line-height: 33px;
                    }
                }
            }
        }
    }

    .lancer-faq-section {
        .container {
            .lancer-faq-container {
                .faq-section-heading {
                    font-size: 24px;
                }

                .faq-main-container {
                    .faq-container-list {
                        .faq-question {
                            padding: 10px 14px;
                        }
                    }
                }
            }
        }
    }
}

/* ########################   */
/* ########################   */
/* ########################   */
/* ########################   */