/* ---------------------------------
------ END :: Header Section ----
----------------------------------- */
.lancer-app-header-section {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 2;

    .lancer-app-header-container {
        border: 1px solid white;
        transition: all .3s ease;
        border-radius: 16px;
        width: 95%;
        padding-inline: 20px;
        margin: 0 auto;
        height: 82px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #ffffffbe;
        backdrop-filter: blur(10px);

        .lancer-header-logo-image {
            cursor: pointer;
        }

        &.header-floating {
            width: 85%;
            border: 1px solid #cfc9c9;

            .nav-login-btn {
                .demo-btn {
                    transition: all .3s ease;

                    span {
                        width: 0;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }

        .lancer-header-navbar {
            display: flex;
            position: relative;
            width: 75%;
            align-items: center;
            margin-left: 10%;

            .header-navbar-list {
                display: flex;
                position: absolute;
                gap: 30px;

                .header-navbar-item {
                    .header-navbar-link {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        cursor: pointer;
                        color: #747474;
                        min-width: max-content;
                        display: block;
                        transition: all .3s ease;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }

        .nav-login-btn {
            margin-left: auto;
            display: flex;
            gap: 6px;

            .nav-btn {
                padding: 4px 12px;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: .5px;
                min-width: max-content;
                border-radius: 8px;
                transition: all .3s ease;
            }

            .login-btn {
                border: 1px solid rgb(224, 223, 223);
                background-color: white;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            .demo-btn {
                color: white;
                background-color: black;
                display: flex;
                gap: 2px;
                border: 1px solid black;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }

    .toggle-btn {
        display: none;

        i {
            color: gray;
        }

        input {
            display: none;
        }
    }
}

/* ---------------------------------
------ END :: Header Section ----
----------------------------------- */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ---------------------------------
------ START :: Hero Section -------
----------------------------------- */
.lancer-hero-section {
    padding-top: 126px;

    .container {
        .lancer-hero-container {
            display: flex;
            flex-direction: column;
            gap: 90px;

            /* Hero Container Content Wrapper  */
            .hero-container-content-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;

                .content-tagline {
                    background-color: #d9f99d;
                    border-radius: 20px;
                    display: flex;
                    text-align: center;
                    max-width: fit-content;
                    padding: 6px 12px;
                    align-items: center;
                    text-align: center;
                    gap: 8px;

                    .content-title {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                    }

                    svg {
                        width: 14px;
                    }
                }

                .hero-container-head {
                    font-size: 60px;
                    line-height: 70px;
                    font-weight: 600;
                    max-width: 70%;
                    text-align: center;
                    margin-top: 6px;
                }

                .hero-sub-heading {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #888888;
                    transition: all .3s ease;
                    margin-top: 10px;

                    &:hover {
                        color: black;
                    }
                }

                .hero-cta-container {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .hero-cta-group {
                        box-shadow: 0 6px 12px -6px gray;
                        padding: 4px 4px;
                        border-radius: 16px;
                        display: flex;

                        input {
                            border: none;
                            padding: 6px 16px 6px 10px;
                            outline: none;

                            &::placeholder {
                                font-size: 16px;
                                color: rgb(119, 118, 118);
                                transition: all .3s ease;
                            }

                            &:hover {
                                &::placeholder {
                                    color: rgb(82, 80, 80);
                                }
                            }
                        }

                        .cta-group-btn {
                            height: 40px;
                            border-radius: 8px;
                            background-color: black;
                            color: white;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            border: none;
                            border-radius: inherit;
                            height: 40px;
                            padding-inline: 28px;
                            align-items: center;
                            border: 1px solid rgb(182, 178, 178);
                            transition: all .3s ease;

                            &:hover {
                                background-image: linear-gradient(to top, rgb(43, 37, 37), rgb(197, 192, 192));
                            }
                        }
                    }

                    .demo-link {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        border-radius: 10px;
                        height: 38px;
                        transition: all .3s ease;
                        padding-inline: 10px;
                        border: 1px solid rgb(235, 233, 233);

                        p {
                            will-change: transform;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            color: black;
                        }

                        svg {
                            will-change: transform;
                        }

                        &:hover {
                            transform: scale(1.03);
                            box-shadow: 1px 2px 3px #80808071;
                        }
                    }
                }
            }

            /* Hero Container Image  */
            .hero-container-image-wrapper {
                .hero-container-image {
                    img {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        border-radius: 26px;
                        display: flex;
                    }
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: Hero Section -------
----------------------------------- */
/* ########################### */
/* ########################### */
/* ########################### */
/* ########################### */
/* ########################### */
/* ########################### */
/* ---------------------------------
------ START :: Testimonial Section ---
----------------------------------- */
.lancer-testimonial-section {
    margin-top: 80px;
    background-color: black;
    color: white;
    padding: 64px 0 128px;

    .container {
        .lancer-testimonial-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 22px;

            .testimonial-badge-head {
                display: flex;
                gap: 6px;
                align-items: center;
                transition: all .3s ease;
                will-change: transform;

                svg {
                    width: 40px;
                    height: 40px;
                }

                .testimonial-head {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 46px;
                }

                &:hover {
                    transform: scale(1.02);
                }
            }

            .lancer-home-page-title {
                margin-bottom: 6px;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    transform: scale(1.02);
                    color: #fff;
                }
            }

            .testimonial-card {
                margin-top: 10px;
                display: flex;
                border: 1px solid #e5e5e54b;
                border-radius: 24px;
                gap: 50px;
                justify-content: space-between;
                padding: 80px 48px;
                width: 78%;
                transition: all .6s ease;
                will-change: transform;

                .testimonial-card-image {
                    img {
                        max-width: 360px;
                        aspect-ratio: 1 / 1.2;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 24px;
                        width: 100%;
                        cursor: pointer;
                    }
                }

                .testimonial-card-content {
                    margin-top: 10px;
                    width: 50%;

                    .profile-name {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 34px;
                    }

                    .profile-title {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #c8c9ca;
                    }

                    .profile-badge-stars {
                        display: flex;
                        gap: 2px;
                        padding: 10px 0 24px 0;

                        i {
                            color: #f1be00;
                        }
                    }

                    .profile-desc {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        color: #c8c9ca;
                    }
                }

                &:hover {
                    transform: translateY(-5px);
                    border: 1px solid #e5e5e5fd;
                }
            }
        }
    }
}

/* ---------------------------------
------END :: Testimonial Section ---
----------------------------------- */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* ---------------------------------
------ START :: Performance Section ---
----------------------------------- */
.performance-section {
    padding-block: 64px;

    .container {
        .performance-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 6px;

            .performance-head {
                font-size: 36px;
                line-height: 44px;
                font-weight: 700;
                margin-top: 10px;
                text-align: center;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    transform: scale(1.02);
                }
            }

            .lancer-home-page-title {
                color: #737373;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    transform: scale(1.02);
                    color: black;
                }
            }

            .performance-stat-cards {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                width: 97%;
                gap: 10px;
                margin-top: 30px;

                .stat-card {
                    border: 1px solid #e5e5e5;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    padding: 32px 0;
                    transition: all .3s ease;

                    h3 {
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 700;
                        will-change: transform;
                    }

                    .stat-card-label {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        will-change: transform;
                    }

                    .stat-card-detail {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        font-family: ui-sans-serif;
                        color: #737373;
                        will-change: transform;
                    }

                    &:hover {
                        transform: scale(1.03);
                        border-color: #aca9a975;
                        background: #e0dcdc6b;
                        box-shadow: 0px 1px 13px 1px #b1adad54;
                    }
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: Performance Section ---
----------------------------------- */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ---------------------------------
------ START :: Conversion Section ---
----------------------------------- */
.lancer-conversion-section {
    margin: 120px 0;

    .container {
        .lancer-cost-container {
            padding: 110px 48px;
            background-color: #19191d;
            border-radius: 20px;
            color: #fff;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-evenly;

            .conversion-head {
                font-size: 36px;
                line-height: 40px;
                font-weight: 700;
                text-align: center;
                transition: all .3s ease;
                max-width: 90%;
                text-align: center;
                margin: 0 auto;

                &:hover {
                    transform: scale(1.01);
                }
            }

            .comparison-containers {
                display: flex;
                justify-content: space-evenly;
                width: 90%;
                gap: 20px;
                align-items: center;
                margin: 38px auto 0;

                .comparison-container {
                    background: #18181b;
                    border: 1px solid #ff6467;
                    box-shadow: 1px 0 8px 1px #ff646759;
                    padding: 32px;
                    border-radius: 16px;
                    transition: all .3s ease;

                    .comperison-heading-wrapper {
                        display: flex;
                        justify-content: space-between;

                        .comperison-header {
                            .comparison-head {
                                font-size: 20px;
                                line-height: 26px;
                                font-weight: 700;
                            }

                            .comperison-title {
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                color: #99a1af;
                                max-width: 300px;
                                margin-top: 6px;
                                margin-bottom: 18px;
                            }
                        }
                    }

                    .lancer-comperison-list {
                        border-top: 1px solid #242323;
                        border-bottom: 1px solid #242323;
                        padding: 20px 0;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .comperison-item {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;

                            svg {
                                width: 12px;
                                aspect-ratio: 1;
                                color: rgb(104, 101, 101);
                            }

                            p {
                                span {
                                    color: #ff6467;
                                    padding-right: 4px;
                                }
                            }
                        }
                    }

                    .meeting-rate {
                        display: flex;
                        align-items: end;
                        gap: 14px;
                        padding-top: 28px;
                        color: #99a1af;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 500;

                        span {
                            color: #ff6467;
                            font-size: 30px;
                            line-height: 34px;
                            font-weight: 800;
                        }
                    }

                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 1px 0 14px #ff646770;
                    }
                }

                :nth-child(3).comparison-container {
                    border: .5px solid #05df72;
                    box-shadow: 1px 0 8px 1px #05df724d;

                    & .lancer-comperison-list {
                        & .comperison-item {
                            & p {
                                span {
                                    color: #05df72;
                                }
                            }
                        }
                    }

                    .meeting-rate {
                        span {
                            color: #05df72;
                        }
                    }

                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 1px 0 14px #05df7280;
                    }
                }
            }
        }

        .versus-title {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            border: 3px solid white;
            border-radius: 50px;
            padding: 14px;
            margin: 0 10px;
        }
    }
}

/* ---------------------------------
------ END :: Conversion Section ---
----------------------------------- */
/* #########################  */
/* #########################  */
/* #########################  */
/* #########################  */
/* #########################  */
/* ---------------------------------
----- START :: Features Section ---
----------------------------------- */
.lancer-features-section {
    padding: 64px 0;

    .container {
        .lancer-features-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 19px;

            .features-title {
                padding: 8px 16px;
                display: flex;
                gap: 6px;
                border: 1px solid #adacac6b;
                border-radius: 122px;
                align-items: center;
                transition: all .3s ease;

                svg {
                    width: 12px;
                    height: 12px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    border-radius: 16px;
                    cursor: default;
                }

                &:hover {
                    background: black;
                    color: white;
                }
            }

            .features-head {
                max-width: 73%;
                text-align: center;
                padding-top: 20px;
                font-size: 36px;
                line-height: 45px;
                font-weight: 700;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    transform: scale(1.01);
                }
            }

            .features-containers {
                padding-top: 112px;
                display: flex;
                flex-direction: column;
                gap: 60px;

                .features-container {
                    padding: 40px 10px 40px 40px;
                    display: flex;
                    border: 1px solid #ddd7d8;
                    border-radius: 20px;
                    overflow: hidden;
                    gap: 40px;
                    transition: all .3s ease;

                    .features-content-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        max-width: 60%;

                        .feature-heading {
                            font-size: 30px;
                            line-height: 38px;
                            font-weight: 600;
                            will-change: transform;

                            span {
                                padding: 4px;
                                background-image: linear-gradient(to right, #a4f4cf, #b9f8cf);
                                border-radius: 12px;
                                will-change: transform;
                            }
                        }

                        .feature-desc {
                            font-size: 18px;
                            line-height: 29px;
                            font-weight: 400;
                            color: #8E8E8E;
                            will-change: transform;
                        }
                    }

                    .feature-container-image {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        img {
                            width: 100%;
                            display: flex;
                        }
                    }

                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 1px 2px 18px 1px rgba(128, 128, 128, 0.438);
                    }
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: Features Section ---
----------------------------------- */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ---------------------------------
------START :: Achievemement Section ---
----------------------------------- */
.achievement-section {
    padding: 100px 0 100px;

    .container {
        .achievement-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 192px;
                font-weight: 700;
                line-height: 200px;
                color: #757272;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    transform: scale(1.02);
                    color: black;
                }
            }

            .achievement-desc {
                font-size: 24px;
                line-height: 38px;
                font-weight: 400;
                color: #737373;
                transition: all .3s ease;
                will-change: transform;

                &:hover {
                    color: black;
                    transform: scale(1.01);
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: Achievement Section ---
----------------------------------- */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* ---------------------------------
------ START :: Promo Section ---
----------------------------------- */
.promo-section {
    padding: 100px 0;

    .container {
        .promo-container {
            .promo-header {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                .pricing-tag {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    padding: 4px 12px;
                    border: 1px solid #d3cccc;
                    border-radius: 16px;
                    transition: all .3s ease;

                    svg {
                        width: 12px;
                        transition: all .3s ease;
                        height: 12px;
                    }

                    span {
                        transition: all .1s ease;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        color: black;
                    }

                    &:hover {
                        background: linear-gradient(to top, black, white);

                        svg {
                            color: white;
                        }

                        span {
                            color: white;
                        }
                    }
                }

                .promo-section-heading {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                    transition: all .3s ease;
                }

                .promo-section-desc {
                    font-size: 20px;
                    max-width: 55%;
                    line-height: 32px;
                    font-weight: 400;
                    text-align: center;
                    color: rgb(129, 127, 127);

                    span {
                        padding: 1px 3px 2px 3px;
                        background-image: linear-gradient(to right, #a4f4cf, #b9f8cf);
                        border-radius: 12px;
                    }
                }
            }

            .promo-card-container {
                margin: 100px auto 0;
                max-width: max-content;
                border: 1px solid #c9c6c686;
                border-radius: 12px;
                display: flex;
                transition: all .3s ease;

                .card-lancer-offer-container {
                    max-width: 311px;
                    width: 100%;
                    padding: 32px;
                    border-right: 1px solid #cecbcb52;

                    .promo-offer-card {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .offer-btn {
                            gap: 4px;
                            border: 1px solid #b9b6b69f;
                            display: flex;
                            align-items: center;
                            padding: 4px 12px;
                            color: #171717;
                            background: #e6e2e259;
                            border-radius: 8px;
                            max-width: max-content;
                            will-change: transform;

                            svg {
                                width: 12px;
                                height: 12px;
                            }

                            span {
                                font-size: 12px;
                                line-height: 16px;
                                will-change: transform;
                                font-weight: 500;
                            }
                        }

                        h4 {
                            font-size: 24px;
                            line-height: 32px;
                            will-change: transform;
                            font-weight: 700;
                        }

                        .offer-card-desc {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 400;
                            will-change: transform;
                            color: #7e7373;
                        }

                        .client-story-card {
                            margin-top: 10px;
                            padding: 12px;
                            border: 1px solid rgb(230, 225, 225);
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .client-card-header {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .client-image {
                                    width: 27px;
                                    aspect-ratio: 1;

                                    img {
                                        width: 100%;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .client-name-desig {
                                    margin-left: 8px;

                                    .name {
                                        font-size: 14px;
                                        line-height: 20px;
                                        font-weight: 500;
                                        will-change: transform;
                                        color: #0a0a0a;
                                    }

                                    .client-designation {
                                        font-size: 12px;
                                        line-height: 16px;
                                        font-weight: 400;
                                        color: #737373;
                                        will-change: transform;
                                    }
                                }

                                .profile-badge-stars {
                                    display: flex;
                                    gap: 2px;
                                    align-items: center;
                                    margin-left: auto;

                                    /* gap: px; */
                                    i {
                                        color: black;
                                        will-change: transform;
                                        font-size: 8px;
                                    }
                                }
                            }

                            .client-comments {
                                will-change: transform;

                                i {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    color: #0a0a0a;
                                }
                            }
                        }
                    }

                    .client-card-btns {
                        margin-top: 63px;
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-direction: column;

                        .started-btn {
                            width: 100%;
                            padding: 9px 12px;
                            background: black;
                            border-radius: 10px;
                            align-items: center;
                            color: white;
                            border: 1px solid black;
                            display: flex;
                            will-change: transform;
                            transition: all .3s ease;

                            svg {
                                width: 12px;
                                aspect-ratio: 1;
                            }

                            p {
                                will-change: transform;
                                margin-left: 4px;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                cursor: pointer;
                            }

                            i {
                                margin-left: auto;
                                transition: all .3s ease;
                            }

                            &:hover {
                                background: #242323;

                                i {
                                    transform: translatex(5px);
                                }
                            }
                        }

                        .card-cta-btn {
                            cursor: pointer;
                            padding: 9px;
                            border-radius: 8px;
                            border: 1px solid #afa8a846;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            transition: all .3s ease;

                            p {
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                color: #171717;
                                cursor: pointer;
                                will-change: transform;
                            }

                            svg {
                                width: 16px;
                                aspect-ratio: 1;
                            }

                            &:hover {
                                background: rgb(211, 209, 209);
                            }
                        }
                    }
                }

                /* Card Features Container  */
                .card-features-container {
                    padding: 32px;

                    h5 {
                        color: #0a0a0a;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        will-change: transform;
                    }

                    .card-features-list {
                        margin-top: 16px;
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        .card-features-item {
                            list-style: none;
                            display: flex;
                            gap: 14px;

                            svg {
                                width: 12px;
                                aspect-ratio: 1;
                            }

                            p {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                                color: #0a0a0a;
                                will-change: transform;
                            }
                        }
                    }

                    .price-wrapper {
                        margin-top: 30px;
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        will-change: transform;

                        .lancer-rate {
                            font-size: 36px;
                            line-height: 40px;
                            font-weight: 700;
                            will-change: transform;
                        }

                        .dicount-info {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            will-change: transform;

                            .off-rate {
                                font-size: 12px;
                                line-height: 20px;
                                font-weight: 500;
                                color: #00c950;
                                padding: 0px 6px;
                                border: 1px solid #00c950;
                                border-radius: 6px;
                            }

                            will-change: transform;

                            span {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #737373;
                                text-decoration: line-through;
                                will-change: transform;
                            }
                        }
                    }
                }

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 1px 0px 12px 3px #6464644d;
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: Promo Section ---
----------------------------------- */
/* #######################  */
/* #######################  */
/* #######################  */
/* #######################  */
/* #######################  */
/* ---------------------------------
------ START :: FAQ Section ---
----------------------------------- */
.lancer-faq-section {
    padding-top: 50px;
    border-bottom: 1px solid rgba(190, 188, 188, 0.514);

    .container {
        .lancer-faq-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;

            .faq-section-heading {
                font-size: 30px;
                font-weight: 600;
                line-height: 36px;
                color: #000;
                text-align: center;
            }

            .faq-desc {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: #737373;
                text-align: center;
            }

            .faq-main-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .faq-container-list {
                    display: flex;
                    flex-direction: column;
                    max-width: 670px;
                    margin: 50px auto;
                    font-family: Arial, sans-serif;
                    border-radius: 8px;
                    gap: 10px;

                    .faq-question {
                        width: 100%;
                        text-align: left;
                        padding: 15px 20px;
                        background-color: #f4f4f4;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        border: 1px solid #ddd;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 12px;
                        color: #706c6c;
                        transition: all .3s ease;
                        line-height: 22px;

                        &:hover {
                            p {
                                color: black;
                            }

                            i {
                                color: black;
                            }
                        }

                        &.active {
                            p {
                                color: black;
                            }

                            i {
                                color: black;
                            }
                        }
                    }

                    .faq-question:hover {
                        background-color: #eee;
                    }

                    .faq-answer-wrapper {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease-in-out;
                    }

                    .faq-answer-content {
                        padding: 20px;
                        background-color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        color: #706c6c;
                        line-height: 21px;
                        border-bottom: 1px solid #ddd;
                    }

                    .faq-question .icon {
                        transition: transform 0.4s;
                        font-size: 14px;
                        color: #706c6c;
                    }

                    .faq-question.active .icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: FAQ Section ---
----------------------------------- */
/* ############################## */
/* ############################## */
/* ############################## */
/* ############################## */
/* ---------------------------------
------ START :: FAQ Section --------
----------------------------------- */
.lancer-footer-section {
    padding-block: 64px;

    .container {
        .lancer-footer-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;

            .footer-content {
                display: flex;
                gap: 30px;

                .copyright {
                    color: #706c6c;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    cursor: auto;
                }

                .footer-links-list {
                    display: flex;
                    gap: 20px;

                    .footer-link-item {
                        a {
                            color: #706c6c;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            text-decoration: underline;
                            text-underline-offset: 5px;
                            transition: all .3s ease;

                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------
------ END :: FAQ Section ---
----------------------------------- */